@use "abstracts" as *;
@use "base" as *;
@use "layout" as *;
@use "components" as *;
@use "pages" as *;

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  color: var(--color-text);
  background: var(--color-bg);
  line-height: var(--line-height-body);
}



