@use "sass:map";

$breakpoints: (
  sp-small: 376px,
  sp-large: 768px,
  tab: 1024px,
  mid-pc: 1200px,
  laptop: 1440px
);

/// メディアクエリ用
/// @example scss - 使い方
///   .foo { @include mq(tab) { ... } }
@mixin mq($key) {
  @if map.has-key($breakpoints, $key) {
    @media (min-width: map.get($breakpoints, $key)) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint `#{$key}`. Available: #{map.keys($breakpoints)}";
  }
}


