// =========================
// ブレークポイント定義
// =========================
@use "sass:map";

$breakpoints: (
  "sm": 376px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px
);

// =========================
// メディアクエリ mixin
// =========================
@mixin mq($breakpoint) {
  $size: map.get($breakpoints, $breakpoint);
  @if $size {
    @media screen and (min-width: $size) {
      @content;
    }
  } @else {
    @warn "未定義のブレークポイントです → #{$breakpoint}";
  }
}


